@{
    ViewData["Title"] = "Error";
}

<div class="container text-center mt-5">

    <h2 style="color:red;">
        Oops! Something went wrong
    </h2>

    <br />

    <h4>
        @ViewBag.ErrorMessage
    </h4>

    <br />

    <p>
        Please contact the developer.
    </p>

</div>
