@{
    ViewData["Title"] = "Executive Home";
}

<div style="
    min-height:100vh;
    background:linear-gradient(135deg,#2c0f75,#d43f52);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:white;
    text-align:center;">

    <h1 style="
        font-size:70px;
        font-weight:bold;
        margin-bottom:20px;">

        Executive Dashboard

    </h1>

    <p style="
        font-size:30px;">

        Welcome Executive User

    </p>

</div>